<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="processForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="email"[ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" ></ion-input>
      </ion-item>
      </ion-list>
      <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Login</ion-button>
      </div> 
    </form>
</ion-content>
